* {
    margin: 0;
    padding: 0;
}

.game {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board6 {
    width: calc(64px * 6);
    height: calc(64px * 6);
    display: flex;
    flex-wrap: wrap;
}

.board8 {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.board10 {
    width: calc(64px * 10);
    height: calc(64px * 10);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: bisque;
}

.white {
    background-color: tan;
}

.selected {
    background-color: crimson;
}

.available-cell {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: chartreuse;
}

.available-figure {
    background-color: chartreuse;
}

.player-turn {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.myModal {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModalContent {
    z-index: 2;
    position: absolute;
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
}

.end-btn-left{
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    bottom: 15px;
    width: 160px;
}

.end-btn-right{
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    bottom: 15px;
    width: 160px;
}