.chs-btn {
    bottom: 15px;
    width: 150px;
    height: 35px;
    box-shadow: 0 0 5px #000000;
}

.chs-btn-2 {
    bottom: 15px;
    width: 150px;
    height: 35px;
}

.chs-btn-center{
    bottom: 15px;
    width: 160px;
    height: 35px;
    box-shadow: 0 0 10px #000000;
}

.chs-btn-right{
    margin-right: 130px;
    bottom: 15px;
    width: 160px;
    height: 35px;
    box-shadow: 0 0 10px #000000;
}


.myModal {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.myModalOptions {
    z-index: 2;
    position: absolute;
    padding: 25px;
    color: #191919;
    background: #cda88b;
    border-radius: 16px;
    min-width: 650px;
    white-space: nowrap;
}

h3 {
    text-align:center;
    margin-bottom: 50px;
}

.gameMode {
    width: 80px;
    height: 80px;
}

.rules-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;
}

.play-image {
    position: absolute;
    right:5%;
    top:200px;
    min-width: 200px;
    max-width: 500px;
    border-radius: 50%;
    box-shadow: 0 0 3px #444;
    filter: blur(1px) brightness(10%);
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/players.png');
    background-repeat: no-repeat;
    background-position: 5px 50px;
    background-attachment: fixed;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow: auto;
}

.game-table {
    width: 100%;
    border-collapse: collapse;
}

.game-table th, .game-table td {
    border: 1px solid #cda88b;
    padding: 8px;
    text-align: center;
    color: #cda88b;
}

.game-table th {
    background-color: #202020;
}

.game-table tr {
    background-color: #202020;
}

.game-table-title {
    text-align: center
}

.game-info {
    position: relative;
    text-align: center;
    margin-top: 33%;
}
